


<!-- Page Header -->
<header class='hero' style='background-image: url(assets/furniture7.jpeg)'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 col-md-10 mx-auto'>
        <div class='site-heading'>        
          <h1>Autana muebles</h1>
          <span class='subheading'>Fabricación de muebles en melamina, diseño y decoración.</span>
        </div>
      </div>
    </div>
  </div>
</header>


<section>

    <h1 class="pt-5 text-center">Bienvenidos</h1>
    <p class="pb-5 text-center">Somos una empresa familiar con más de 10 años de experiencia en el diseño y fabricación de muebles a la medida en melamina.</p>

    <!-- Cards -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <%= image_tag("furniture0.jpg", {class:"card-img-top"}) %>     
        <div class="card-body">
        <h5 class="card-title">Salas</h5>
        <p class="card-text">Desarrollamos los proyectos de acuerdo a las expectativas de nuestros clientes.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <%= image_tag("furniture2.jpg", {class:"card-img-top"}) %>
      <div class="card-body">
        <h5 class="card-title">Cocinas</h5>
        <p class="card-text">Fabricamos, diseñamos, remodelamos, desmontamos, nos adaptamos a los requerimientos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
    <%= image_tag("furniture6.jpg", {class:"card-img-top"}) %>
      <div class="card-body">
        <h5 class="card-title">Diseños</h5>
        <p class="card-text">Te ayudamos a diseñar tus espacios, asesoramos en la selección de materiales y colores, proponiendo el mejor aprovechamiento natural.</p>
      </div>
    </div>
  </div>
  </section>

  <section class='hero' style='background-image: url(assets/furniture11.jpg)'>
  <div class="card">
  <div class="card-header">

  <!-- Featured -->

  </div>
  <div class="card-body">
    <h5 class="card-title">Otros proyectos</h5>
    <p class="card-text">Trabajamos con materiales y técnicas modernas, garantizando la más alta calidad de nuestros productos.</p>
    <a href="#" class="btn btn-primary">Contactanos</a>
  </div>
</div>
</section>


